* {
  font-family: 'Poppins' , sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  font-weight: 900;
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 47px;
  margin-top: -15px;
  font-weight: 400;
  padding-bottom: 50px;
}

.box {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  
  
}
#box1 {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color: #EA9999;
  caption-side: bottom
}
#box2 {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color: #FACB9C
}
#box3 {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color: #FFE59A
}
#box4 {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color:#B6D7A8
}
#box5 {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color: #a4c4ca
}

html {
  background: #E7F1F1;
}

.new-palette-button {
  margin: auto;
  background-color: black;
  border-radius: 3px;
  color: white;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 140px;
  height: 25px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-weight: 300;
};
