html {
    background: #E7F1F1;
    font-family: 'Poppins' , sans-serif;
}

.home-view {
    float: left;
    padding-left: 175px
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top:30px;
    font-weight:900;
}

.caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    margin-top: -5px;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
}

.box-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.boxes {
    border: 3px solid black;
    width: 105px;
    height: 105px;
    caption-side: bottom;
}

#0 {
    background-color: #EA9999;
}

#1 {
    background-color: #FACB9C
}

#2 {
    background-color: #FFE59A
}

#3 {
    background-color:#B6D7A8
}

#4 {
    background-color: #A4C4CA
}

.boxes img {
    height: 20px;
    width:20px;
    padding-top: 80px;
    padding-left: 80px
}

img:hover {
    cursor: pointer;
}

.hidden{
    display: none;
}

.new-palette-button {
    margin-right: -40px
  }

.save-palette-button, .new-palette-button {
    margin: auto;
    margin-top: 30px;
    background-color: black;
    border-radius: 3px;
    color: white;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    display: inline;
    font-size: 20px;
    cursor: pointer;
}

.button {
    display: flex;
}

.new-palette-button:hover {
    background-color: darkgray;
    color: black;
}

.save-palette-button:hover {
    background-color: darkgray;
    color: black;
}

#saved-container {
    border-left: 5px solid black;
    height: 100%;
    padding-left: 2%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    float: right
}

h3 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 15%;
}

#saved-palettes {
    text-align: center;
    height: 100vh;
    width: 400px;
    margin: 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.mini-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%
}

.mini-palette {
    display: flex;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 3px solid black;
}

.delete {
    height: 30px;
    padding: 2%;
}

.delete:hover {
    height: 40px;
    padding: 1%;
}

.mini-container hidden{
    display: none;
}