
html {
    background: #E7F1F1;
    font-family: 'Poppins' , sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    padding-top:30px;
    font-weight:900;
}

.caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: -15px;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 15px;
}

.box-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.boxes {
    border: 3px solid black;
}

#0 {
    width: 105px;
    height: 105px;
    background-color: #EA9999;
    caption-side: bottom
}

#1 {
    width: 105px;
    height: 105px;
    background-color: #FACB9C
}

#2 {
    width: 105px;
    height: 105px;
    background-color: #FFE59A
}

#3 {
    width: 105px;
    height: 105px;
    background-color:#B6D7A8
}
#4 {
    width: 105px;
    height: 105px;
    background-color: #a4c4ca
}

.boxes img{
height: 20px;
width:20px;
padding-top: 80px;
padding-left: 80px
}

.hidden{
    display: none;
}

.new-palette-button {
  margin: auto;
  background-color: black;
  border-radius: 3px;
  color: white;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-weight: 300;
};

/* 
.new-palette-button:hover {
    background-color: darkgray;
    color: black;
  }
   */